*

# !//
# !//**

!/.gitignore

!/wofi/
!/wofi/**

!/kitty/
!/kitty/**

!/waybar/
!/waybar/**

!/hypr/
!/hypr/**

!/Code/
!/Code/User/
!/Code/User/settings.json

!/networkmanager-dmenu/
!/networkmanager-dmenu/**

!/c-scripts/
!/c-scripts/**

!/wlogout/
!/wlogout/**

!/eww/
!/eww/**

!/nvim/
!/nvim/**

/nvim/.gitignore
tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data

!/fastfetch/
!/fastfetch/**