@define-color primary #637e91;
@define-color inactive #47555c;
@define-color urgent #fcb167;
@define-color dark-bg #13120d;

*{
  all: unset;
  transition: 150ms ease-in-out;
}

/* ===== Waybar Root ===== */
window#waybar {
  background-color: transparent;
}

/* ===== Módulos ===== */
#workspaces { 
  border-bottom: 3px transparent solid;
  border-top: 3px transparent solid;
  padding: 1px 0px;
  border-radius: 20px;
}

#network, #battery, #clock, #pulseaudio, #tray, #custom-power{
  border-radius: 8px;
  background-color: #637e91;
  font-size: 14px;
  padding: 0 17px 0 15px;
  margin: 0 0px 0px 5px;
}

#network:hover, #battery:hover, #pulseaudio:hover, #clock:hover {
  background-color: #47555c;
}

#clock { }
#network { 
  padding: 0 16px 0 7px;
}
#pulseaudio { }
#battery { }
#tray { }
#custom-power { 
  padding: 0 17px 0 13px;
}


#network.disconnected {
    background-color: #fcb167;
}
/* ===== Workspaces ===== */
#workspaces button {
  font-size: 0px;
  border-radius: 10px;
  background-color: #47555c;
  padding: 0px 8px;
  margin: 1px 2px;
}

#workspaces button:hover{
  background-color: #637e91;
}

#workspaces button.active {
  background-color: #637e91;
  padding: 0 15px;
}

/* #workspaces button.focused { */
/* } */

#workspaces button.urgent {
  background-color: #fcb167;
}

/* ===== Pulseaudio ===== */
#pulseaudio.muted {
  background-color: #fcb167;
  
}

/* ===== Battery ===== */
#battery.warning { }
#battery.critical { }
#battery.full { 
  background-color: #639172;
}

/* ===== Tray ===== */
#tray menu { }
#tray menuitem { }
#tray menuitem:hover { }

/* ===== Custom Modules ===== */
#custom-power {
}

#custom-power:hover {
  background-color: brown;
}

tooltip {
  border: #637e91 solid 3px;
  border-radius: 10px;
  background-color: #13120d;
  opacity:0.9;
  padding:5px;
  margin:0px;
}

tooltip label {
    color: white;
}
