*{
  all: unset;
}

/* ===== Waybar Root ===== */
window#waybar {
  /* Barra inteira */
  background-color: transparent;
}

/* ===== Módulos ===== */
#workspaces { 
  background-color: black;
}
#clock { }
#network { }
#pulseaudio { }
#battery { }
#tray { }
#custom-power { }

/* ===== Workspaces ===== */
#workspaces button {
  /* Botão normal */
}

#workspaces button.active {
  background-color: aqua;
}

#workspaces button.focused {
  /* Workspace focado */
}

#workspaces button.urgent {
  /* Workspace urgente */
}

/* ===== Pulseaudio ===== */
#pulseaudio.muted {
  /* Estado mutado */
}

/* ===== Battery ===== */
#battery.charging { }
#battery.plugged { }
#battery.warning { }
#battery.critical { }
#battery.full { }

/* ===== Tray ===== */
#tray menu { }
#tray menuitem { }
#tray menuitem:hover { }

/* ===== Custom Modules ===== */
#custom-power {
  /* Botão de energia */
}

#custom-power:hover {
  /* Hover no botão de energia */
}
